@model Proyecto_Noticias.Models.Noticia

@{
    ViewData["Title"] = "Eliminar noticia";
}

<h2>Eliminar</h2>

<h3>¿Quieres eliminar esta noticia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resumen)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="Noticias" asp-route-id="@Model.Id">Atrás</a>
    </form>
</div>
