@model Proyecto_Noticias.Models.Noticia

@{
    ViewData["Title"] = "Details";
}

<p  class="titnot02">Detalles</p>

<div>
    <p class="titnot03">Noticia</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @* @Html.DisplayNameFor(model => model.Titulo)*@
        </dt>
        <dd class="titnot">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resumen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="estilo_url">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dislike)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dislike)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Comentarios)</dt>
        <dt>
            <ul>
                @foreach (var comentario in Model.Comentarios)
                {
                    <li>@comentario.Descripcion</li>
                }
            </ul>
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
