@model Proyecto_Noticias.ViewModels.HomeViewModel
@{

    ViewData["Title"] = "NoticiasRD";
}

<div>

    <div><p class="titnot">Lo Más Actualizado <a asp-action="Create" asp-controller="Noticias"><span class="glyphicon glyphicon-plus" /></a></p> </div>
    <form class="form-inline" action="/Noticias/Search">
        <input class="form-control mr-sm-2" type="search" name="value" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="box_noticias">
        @if (Model.Noticias.Count() == 0)
        {
            <p>No se encontraron coincidencias.</p>
        }
    </div>
    @foreach (var noticia in Model.Noticias)
    {
        <div class="box_noticias">
            <ul class="noticia">
                <li class="estilo01">
                    <a asp-action="Details" asp-controller="Noticias" asp-route-id="@noticia.Id">@noticia.Titulo</a>
                </li>
                <li class="estilo02">
                    @if (noticia.Resumen.Length > 97)
                    {
                        <p>@(noticia.Resumen.Substring(0, 100) + "...") <span class="glyphicon glyphicon-calendar" /> @noticia.Fecha.ToString("dd/MM/yyyy")</p>
                    }
                    else
                    {
                        <p>@noticia.Resumen <span class="glyphicon glyphicon-calendar" /> @noticia.Fecha.ToString("dd/MM/yyyy")</p>
                    }
                    <p class="categoria"><span class="glyphicon glyphicon-bookmark" /> @noticia.Categoria</p>
                </li>
                <li> <a href="/Noticias/Votation/@noticia.Id?value=true"><span class="glyphicon glyphicon-thumbs-up" /></a> @noticia.Like - <a href="/Noticias/Votation/@noticia.Id?value=false"><span class="glyphicon glyphicon-thumbs-down" /></a> @noticia.Dislike</li>
                <li>
                    <a asp-action="Details" asp-controller="Noticias" asp-route-id="@noticia.Id">
                        Comentarios @noticia.Comentarios.Count
                    </a>
                </li>
                <hr/>
            </ul>
        </div>
    }
</div>