@model Proyecto_Noticias.ViewModels.HomeViewModel
@{

    ViewData["Title"] = "NombreDeMiPagina";
}

<div>

    <div><p class="titnot">NOTICIAS</p> </div>

    @foreach (var noticia in Model.Noticias)
    {
        <div>
            <ul class="noticia">
                <li class="estilo01">
                    <a asp-action="Details" asp-controller="Noticias" asp-route-id="@noticia.Id">@noticia.Titulo</a>
                </li>
                <li class="estilo02">
                    @if (noticia.Resumen.Length > 97)
                    {
                        @(noticia.Resumen.Substring(0, 100) + "...")
                    }
                    else
                    {
                        @noticia.Resumen
                    }
                </li>
                <li><span class="glyphicon glyphicon-thumbs-up" /> @noticia.Like - <span class="glyphicon glyphicon-thumbs-down" /> @noticia.Dislike</li>
                <li>
                    <a asp-action="Details" asp-controller="Noticias" asp-route-id="@noticia.Id">
                        Comentarios @noticia.Comentarios.Count
                    </a>
                </li>
            </ul>
        </div>
    }
</div>