@model Proyecto_Noticias.ViewModels.HomeViewModel
@{

    ViewData["Title"] = "NoticiasRD";
}

<div>

    <div><p class="titnot">NOTICIAS <a asp-action="Create" asp-controller="Noticias"><span class="glyphicon glyphicon-plus" /></a></p> </div>
    @foreach (var noticia in Model.Noticias)
    {
        <div>
            <ul class="noticia">
                <li class="estilo01">
                    <a asp-action="Details" asp-controller="Noticias" asp-route-id="@noticia.Id">@noticia.Titulo</a>
                </li>
                <li class="estilo02">
                    @if (noticia.Resumen.Length > 97)
                    {
                        @(noticia.Resumen.Substring(0, 100) + "...")
                    }
                    else
                    {
                        @noticia.Resumen
                    }
                </li>
                <li> <a href="/Noticias/Votation/@noticia.Id?value=true"><span class="glyphicon glyphicon-thumbs-up" /></a> @noticia.Like - <a href="/Noticias/Votation/@noticia.Id?value=false"><span class="glyphicon glyphicon-thumbs-down" /></a> @noticia.Dislike</li>
                <li>
                    <a asp-action="Details" asp-controller="Noticias" asp-route-id="@noticia.Id">
                        Comentarios @noticia.Comentarios.Count
                    </a>
                </li>
            </ul>
        </div>
    }
</div>